.about {
	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 30px;
		margin: 0 auto;

		@media all and (min-width: 768px) {
			flex-wrap: nowrap;
		}
	}

	&__author {
		margin: 0 auto;

		@media all and (min-width: 768px) {
			flex: 0 0 30%;
		}
	}

	&__img {
		max-width: 400px;
		display: block;
	}

	&__author-name {
		display: block;
		text-align: center;
	}

	&__text {
		text-align: justify;
	}
}
