.hero {
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	padding: 0;

	&__slider {
		height: 100vh;
		padding-top: 80px;
		overflow-x: hidden;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/hero-mob.webp);
	}

	.swiper-slide:last-child {
		.hero__img {
			background-image: url(../images/hero_2-mob.webp);
		}
	}

	.swiper-slide {
		display: flex;
		align-items: center;
	}

	&__info {
		padding: 0 var(--padding-h-mob);
		color: var(--white-color);
		text-shadow: 1px 1px var(--bg-dark-color);

		b {
			display: block;
			margin: 20px 0;
			font-size: 50px;
		}
	}

	&__link {
		margin-top: 20px;
	}
}

@media all and (min-width: 768px) {
	.hero {
		&__img {
			background-image: url(../images/hero.webp);
		}

		.swiper-slide:last-child {
			.hero__img {
				background-image: url(../images/hero_2.webp);
			}
		}
	}
}

@media all and (min-width: 1024px) {
	.hero {
		&__info {
			padding: 0 var(--padding-h-desktop);
		}

		&__img {
			background-position-x: 0;
		}
	}
}
