*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100%;
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
	background-color: var(--white-color);
	font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: var(--grey-text-color);
	overflow-x: hidden;

	@media all and (min-width: 1240px) {
		font-size: 18px;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;

	&:visited {
		color: inherit;
	}
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section {
	padding: var(--padding-v-mob) var(--padding-h-mob);

	@media screen and (min-width: 1240px) {
		padding: var(--padding-v-mob) var(--padding-h-desktop);
	}

	&__title {
		font-family: "Montserrat", sans-serif;
		font-size: 26px;
		font-weight: 700;
		line-height: 1.2em;
		margin-top: 15px;
		text-transform: uppercase;
		text-align: center;
		color: var(--dark-text-color);

		@media all and (min-width: 768px) {
			font-size: 48px;
		}
	}
}

.btn-outer {
	position: relative;
	padding-left: 7px;
	padding-bottom: 3px;
	padding-right: 13px;
	padding-top: 0px;
	z-index: 1;
	display: inline-block;
	transition: all 600ms ease;

	&:hover .btn {
		color: #000000;
		transform: translate(-7px, 10px);

		span {
			text-shadow: none;
		}
	}

	&:hover::before {
		opacity: 0;
	}

	&:hover::after {
		opacity: 1;
		width: 100%;
		height: 100%;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 44px;
		height: 44px;
		z-index: -1;
		transition: all 600ms ease;
	}

	&::before {
		left: 0px;
		bottom: 0px;
		border-left: 2px solid var(--accent-color);
		border-bottom: 2px solid var(--accent-color);
	}

	&::after {
		right: 3px;
		top: 9px;
		opacity: 0;
		border-right: 2px solid var(--accent-color);
		border-top: 2px solid var(--accent-color);
	}
}

.btn {
	width: 100%;
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	color: var(--white-color);
	padding: 12px 40px;
	font-weight: 600;
	overflow: hidden;
	background: none;
	border-radius: 0px;
	text-transform: capitalize;
	border: 1px solid var(--white-color);
	font-family: "Montserrat", sans-serif;
	transition: all 600ms ease;

	&::before,
	&::after {
		position: absolute;
		content: "";
		top: 0px;
		bottom: 0px;
		border-bottom: 55px solid var(--white-color);
		transition: all 600ms ease;
	}

	&::before {
		left: 0px;
		right: -50px;
		border-right: 30px solid transparent;
		transform: translateX(-100%);
	}

	&::after {
		right: 0px;
		left: -50px;
		border-left: 30px solid transparent;
		transform: translateX(100%);
	}

	&:hover::before {
		transform: translateX(-40%);
	}

	&:hover::after {
		transform: translateX(40%);
	}

	span {
		position: relative;
		z-index: 1;
		text-shadow: 1px 1px var(--bg-dark-color);
	}
}

.link {
	color: var(--accent-color);
}

.swiper-button-prev,
.swiper-button-next {
	cursor: pointer;
}

.swiper-button-prev {
	transform: rotate(180deg) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	content: "" !important;
}

.scroll-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	color: var(--accent-color);
	font-size: 13px;
	text-transform: uppercase;
	line-height: 38px;
	text-align: center;
	z-index: 100;
	cursor: pointer;
	background: var(--white-color);
	display: none;
	border-radius: 50px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	transition: all 200ms ease;

	&.show {
		display: block;
	}
}

.desc-only {
	display: none !important;
}

@media all and (min-width: 768px) {
	.desc-only {
		display: block !important;
	}
}
