:root {
	--bg-light-color: #f0f0f0;
	--bg-dark-color: #000000;
	--white-color: #ffffff;
	--accent-color: #ff0000;
	--dark-text-color: #222222;
	--grey-text-color: #555555;

	--padding-h-mob: 10px;
	--padding-v-mob: 20px;
	--padding-h-desktop: 30px;
	--padding-v-desktop: 50px;
}
