@import "normalize";
@import "mixins";
@import "fonts";
@import "vars";
@import "base";
@import "font-awesome";

@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/services";
@import "./blocks/reviews";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
